.more-projects {
  background-color: #000;
  min-height: 100vh;
  width: 100%;


}

.more-projects header {
  background-color: #fff;
  color: #000;
  padding: 10px 0 5px 0;
  position: sticky;
  width: 100%;
  top: 0;
}

.more-projects header h1 {
  font-size: 32px;
  padding-left: 15px;
  margin-bottom: 27px;
}

.more-projects nav {
  display: flex;
  padding: 0 10px;
  justify-content: space-between;
}

.more-projects__nav-item {
  text-decoration: none;
  font-size: 17px;
  font-family: 'Cinzel', serif;
  border: none;
  background: none;
  color: #000;
}

.active-category {
  position: relative;
}

.active-category::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3px;
  display: block;
  border-radius: 3px;
  background: #D6BC6D;
  box-shadow: 0px 4px 2.9px 1px rgba(214, 188, 109, 0.25);
  top: -5px;
}


.more-projects__cards {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 15px;
}

.more-projects__see-less {
  position: fixed;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  bottom: 30px;
  right: 0;
  font-family: 'Cinzel', serif;
}


.more-projects .card {
  width: 200px;
  height: 350px;
}