.about {
  width: 100%;
  position: relative;
  margin: 0 auto;
}


.about h1 {
  font-size: 40px;
  padding: 45px 0;
  display: block;
}

.about__top {
  width: 100%;
}

.about__top p {
  font-size: 14px;
  line-height: normal;
  padding-right: 10px;
  text-align: left;
}

.about__img-wrapper {
  float: right;
  margin: 5px;
  width: 50%;
  height: auto;
  background-color: red;
}

.about img {
  width: 100%;
  height: auto;
}


.skills h2 {
  font-size: 25px;
  padding: 15px 0;
}

.skills ul {
  list-style: inside;
  font-size: 13px;
  line-height: normal;
  width: 100%;
}

.skills li::marker {
  font-size: 20px;
  content: '+';
  letter-spacing: 5px;
}



.contact-info-container {
  position: absolute;
  width: 100%;
  background-color: #5E5DF0;
  top: 50%;

}

.contact-info {
  display: flex;
  justify-content: center;
  gap: 3em;
  width: 80%;
  padding: 50px 0;
  background-color: red;
  margin: 0 auto;
}

.contact-info a {
  color: #fff;
  font-size: 40px;
  border-radius: 12px;
}


.bn632-hover {
  display: block;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align:center;
  border: none;
  margin: 80px auto 0 auto;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn26 {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}


.contact-btn--expanded {
  width: 100%;
}

.contact-btn--expanded ul {
  display: flex;
  font-size: 25px;
  justify-content: center;
  gap: 15%;
  margin: 0 auto;
  animation: showContacts 1s;
}

@keyframes showContacts {
  from {
    gap: 0;
  }
}

@media screen and (min-width: 500px) {
  .about {
    width: 90%;
  }

  .about__img-wrapper {
    width: 40%;
  }
}

@media screen and (min-width: 768px) {
  .about {
    width: 80%
  }

  .about__img-wrapper {
    max-width: 250px;
    width: 30%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 1200px) {
  .contact-btn--expanded {
    width: 50%;
  }
}