@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat&display=swap');
@import url('./reset.css');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Cinzel', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
