.certifications__education h2 {
  padding: 20px 0;
  font-weight: 700;
}

.course__school {
  font-size: 15px;
  font-weight: 600;
}

.course__duration {
  padding: 0 5px;
  font-size: 10px;
  display: block;
  padding-left: 15px;

}

.course__program {
  display: block;
  font-size: 12px;
  padding-left: 15px;

}
